<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Bus Finder</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="topbar">

    <div class="logo">
        🚌 <span>Private Bus Finder</span>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/timetable">Timetable</a>
        <a href="/about">About</a>
    </nav>

</header>
<section class="hero">
    <h1>Find Your Private Bus Easily</h1>
    <p> Search private bus timings quickly between your boarding and destination stations.</p>
</section>  

<div class="card">

    <h2>Search Bus Timetable</h2>

    <form action="/search" method="POST">

        <input
        type="text"
        name="boarding"
        placeholder="📍 Boarding Station"
        required>

        <input
        type="text"
        name="destination"
        placeholder="📍 Destination Station"
        required>

        <button type="submit">
            Search Bus
        </button>

    </form>
    
</div>
<div class="card">
    <div class="popular-routes">
        <h3>📍 Popular Locations</h3>
    
        <p>📍 Rampura</p>
        <p>📍 Pilani</p>
        <p>📍 Sadulpur</p>
        <p>📍 Bahal</p>
        <p>📍 Hisar</p>
        <p>📍 Chirawa</p>
    </div>
</div>

</body>
</html>