<!DOCTYPE html>
<html>
<head>
    <title>Route Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="route-card">

        <h1 class="route-title">🚌 Route Details</h1>
    
        <div class="route-name">
            {{ bus.boarding }} → {{ bus.destination }}
        </div>
        <div class="bus-info">

            <h3>🚌 {{ bus.bus }}</h3>
        
            <p>🕒 Departure Time : {{ bus.time }}</p>
        
        </div>
    
        <div class="timeline">
            {% for place in bus.route %}
                <div class="stop">
                    <div class="circle"></div>
                    <div class="box">
                        <h3>{{ place}}</h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    
        <a href="/" class="back-btn">⬅ Back</a>
    
    </div>

</body>
</html>
