<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Timetable</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="topbar">

    <div class="logo">
        🚌 <span>Private Bus Finder</span>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/timetable">Timetable</a>
        <a href="/about">About</a>
    </nav>

</header>

<div class="card">

<h2>Today's Bus Timetable</h2>

<table border="1" width="100%" cellpadding="10">

<tr>
    <th>Route</th>
    <th>Departure</th>
</tr>

<tr>
    <td>Rampura → Pilani</td>
    <td>08:30 AM</td>
</tr>

<tr>
    <td>Rampura → Bahal</td>
    <td>09:00 AM</td>
</tr>

<tr>
    <td>Pilani → Rampura</td>
    <td>08:00 PM</td>
</tr>

<tr>
    <td>Sadulpur → Hisar</td>
    <td>08:10 AM</td>
</tr>

</table>

<br>

<a href="/" class="back-btn">🏠 Back to Home</a>

</div>

</body>
</html>